@tailwind base;
@tailwind components;
@tailwind utilities;

body, .bg-dark {
    background: #09090b;
}

.logo {
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fullpage {
    height: 100vh;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 680px) {
        height: auto;
        padding: 18px 0px;
        max-width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 120px;
    }
}

.sections-menu {
    position: fixed;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);  
}
  
.sections-menu .menu-point {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    display: block;
    margin: 1rem 0;
    opacity: .6;
    transition: .4s ease-in-out all;
    cursor: pointer;
}
  
.sections-menu .menu-point.active {
    opacity: 1;
    transform: scale(1.5);
}

.sections-menu .menu-point:hover {
    opacity: 1;
    transform: scale(1.2);
}

:focus-visible {
    outline: none;
}

.fp-watermark {
    display: none !important;
}

.btn-event {
    border: 1px solid #ffa600;
    font-family: '8-bit';
    letter-spacing: 1px;
    width: fit-content;
    padding: 4px 16px;
    text-transform: uppercase;
    border-radius: 3px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    top: -3px;
    transform: translateY(0px);
    position: relative;
    box-shadow: inset 0 30px 30px -15px #4158d01a, inset 0 0 0 1px #4158d04d, inset 0 1px 20px #c850c000, 0 3px 0 #dbac55, 0 3px 2px #4158d033, 0 5px 10px #c850c01a, 0 10px 20px #c850c01a;
    background: #ffcc70;
    color: rgb(0, 0, 0);
    transition: 150ms all;
    -webkit-transition: 150ms all;
    -moz-transition: 150ms all;
    -o-transition: 150ms all;
    -ms-transition: 150ms all;
}

.btn-event:hover {
    background: #f8be53;
}
  
.btn-event:active {
    transform: translateY(3px);
    box-shadow: inset 0 16px 2px -15px rgba(0,0,0,0), inset 0 0 0 1px rgba(255,255,255,.15), inset 0 1px 20px rgba(0,0,0,.1), 0 0 0 #7d1d76, 0 0 0 2px rgba(0, 0, 0, 0.5), 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}